<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Passport Homework</title>

    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">

    <script src="../vendor/jquery/dist/jquery.min.js" text="text/javascript"></script>
    <script src="../vendor/bootstrap/dist/js/bootstrap.min.js" text="text/javascript"></script>

    <script type="text/javascript" src="../javascripts/users.js"></script>
</head>
    <body>
        <h1>User List</h1>
            <ul class="displayUsers">
        </ul>
    </body>
</html>