<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>User Page!!</title>

    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">

    <script src="../vendor/jquery/dist/jquery.min.js" text="text/javascript"></script>
    <script src="../vendor/bootstrap/dist/js/bootstrap.min.js" text="text/javascript"></script>

    <script type="text/javascript" src="../javascripts/users.js"></script>
</head>
    <body>
        <h1 class="jumbotron">User List</h1>
            <ul class="displayUsers col-sm-offset-1 col-sm-10"></ul>

        <div class="col-sm-offset-1 col-sm-10">
            <label>Register Here: <a class="btn btn-info" href="/register">Register</a></label>
        </div>
    </body>
</html>